<section id="projects" class="content-section">
  <header class="section-header">
  	<h2>Portfolio</h2>
    <div class="projects-filter-list">
      <i class="material-icons filters-label-icon">styles</i>
      <% filters.forEach(function(filter, i) { %>
        <div class="list-item">
          <a href="#" class="project-filter <% if (i === 0) { %>active<% } %>" data-filter="<%- filter %>"><%- filter %></a>
        </div>
      <% }); %>
    </div>
  </header>
  <div class="project-previews">
  	<% projects.forEach(function(project) { %>
  		<%- include('./project-item.ejs', { project: project }) %>
  	<% }); %>
  </div>
  <% projects.forEach(function(project, i) { %>
    <div class="project-page active" id="<%= project.slug %>">
      <%- include('./project-page.ejs', { project: project }) %>
    </div>
  <% }); %>
</section>